*.png
motion_vector
choh
dhoh
*.hoh
*.webp
*.jxl
colour_cache
colour_cache_experiment
inter_clamp_grad1
inter_clamp_grad2
inter_clamp_gradbottom
split_rgb
split_gRgBg
split_rgb_left
simple_lz/lz
simple_lz/lz2
